.App {
  text-align: center;
}

.completeView {
  background-color: #F1F1F1;
  height: auto;
  display: inline-block;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  padding: 20px;
}

#btn {
  background: #A0C4E0;
  padding: 10px;
  border: 2px solid black;
  display: inline-block;
}

ul {
  border-top: 2px solid lightgrey;
  border-bottom: 2px solid lightgrey;
  padding-top: 10px;
  padding-bottom: 10px;
}

li {
  padding-top: 10px;
  padding-bottom: 10px;
}
